
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.lotto-header {
  background-color: #2c3e50;
  font-size: 20px;
  padding: 1rem;
  a {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: .5rem 1rem;
    &:hover, &:focus, &:visited {
      text-decoration: none;
      font-weight: 600;
    }
  }
}

.ticket-create {
  &__animal {
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }

    p {
      font-size: 16px;
      margin: 0;
    }

    img {
      width: 100%;
      max-width: 50px;
    }
  }

  &__sort {
    background-color: #f4f4f4;
    padding: 7px;
    border-radius: 5px;
    border: solid 1px #ccc;
    cursor: pointer;
    margin-bottom: 10px;
  }

  &__total {
    font-size: 18px;
  }

}

.show-ticket {
  &__data {
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
    span {
      padding: 3px;
      margin: 5px;
    }
  }

  &__animals {
    border: solid 1px #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    img {
      width: 100%;
      max-width: 100px;
    }
  }
}

.transfer-create {
  &__bank-account {
    border: solid 1px #cccccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
}

.modal-animals {
  img {
    padding: 5px;
    cursor: pointer;
  }
}

.process-transfer {
  margin-top: 20px;

  textarea {
    resize: none;
  }

  .form-group {
    margin-top: 20px;
  }
}

.number-notification {
  position: absolute;
  top: .6rem;
  right: .8rem;
  font-weight: bold;
  padding: 0 .2rem;
  border-radius: 30%;
  background: #ea5c59;
  color: #fff;
  font-size: 13px;
}
.notification-all {
  color: #3097D1 !important;
  font-weight: bold;
  font-size: 12px;
}